<!-- index.ejs -->

<!DOCTYPE html>
<html>
<head>
    <title>Data received</title>
</head>
<body>
<h1>Data received!</h1>
<p>Received temperature: <%= temperature %>, humidity: <%= humidity %></p>
</body>
</html>
